.home-clients
 padding-top: 130px
 &__title
  font-size: 2.4rem
  font-weight: 700
  color: #F9CB48
  margin-bottom: 30px
 &__sub
  font-size: 2.4rem
  line-height: 3.2rem
  margin-bottom: 30px
  max-width 718px
 &__list
  display: grid
  grid-template-columns repeat(4, 1fr)
  grid-column-gap 30px
  grid-row-gap 30px
  &__item
   height: 270px
   border-radius 10px
   border 1px solid #d3d3d3
   display: flex
   justify-content: center
   align-items: center
   position: relative
  &__image
   text-align: center
   img
    max-width 90%
    object-fit contain
  &__title
   font-size: 1.8rem
   width: 100%
   position: absolute
   bottom: 31px
   text-align: center
 +bp(1300px)
  &__list
   &__item
    height: 220px
 +bp(m)
  &__list
   grid-template-columns repeat(3, 1fr)
 +bp(s)
  padding-top: 50px
 +bp(700px)
  &__list
   grid-template-columns repeat(2, 1fr)
 +bp(500px)
  &__list
   grid-template-columns 1fr!important
  &__title, &__sub
   font-size: 1.8rem
   line-height: 2.4rem
   margin-bottom: 20px