.home-header
 height: 100vh
 min-height 700px
 background: url(../images/home-header-bg.jpg) no-repeat center
 background-size cover
 .container
  display: flex
  flex-direction: column
  justify-content: center
 *
  color: #fff
 &__title
  ttl1()
  margin-bottom: 53px
 &__sub
  font-size: 2.8rem
  line-height: 3.7rem
 &__scroll
  width: 25px
  height: 43px
  position: absolute
  bottom: 92px
  left: 0
  cursor: pointer
  tr()
  &:hover
   transform translateY(10px)
 +bp(s)
  min-height 550px
  .container
   padding-top: 70px
  &__scroll
   bottom: 20px
   left calc(50% - 12px)
 +bp(500px)
  &__title
   margin-bottom: 20px
  &__sub
   font-size: 2.2rem
   line-height: 2.7rem