.home-numbers
 padding-top: 84px
 &__title
  tt()
  margin-bottom: 19px
 &__sub
  font-size: 2.4rem
  line-height: 3.2rem
  max-width 680px
  margin-bottom: 52px
 &__list
  display: flex
  justify-content: flex-start
  align-items: flex-start
  margin-bottom: 52px
  &__item
   margin-right: 120px
   &:last-child
    margin-right: 0
  &__number
   font-size: 8rem
   font-weight: 700
   line-height: 10.8rem
   color: #F9CB48
  &__desc
   font-size: 2rem
   font-weight: 700
   line-height: 2.7rem
 &__note
  font-size: 1.6rem
  line-height: 2.4rem
  max-width 720px
 +bp(m)
  &__list
   &__item
    margin-right: auto
 +bp(s)
  padding-top: 50px
  &__list
   flex-wrap wrap
   margin-bottom: 20px
   &__item
    width: 50%
    margin-bottom: 15px
 +bp(500px)
  &__sub
   font-size: 1.8rem
   line-height: 2.4rem
   margin-bottom: 20px
  &__list
   &__number
    font-size: 4rem
    line-height: 5rem
   &__desc
    font-size: 1.5rem
    line-height: 2rem