.home-projects
 padding-top: 84px
 &__title
  tt()
  margin-bottom: 30px
 &__list
  display grid
  grid-template-columns calc(50% - 15px) calc(50% - 15px)
  grid-column-gap 30px
  grid-row-gap 30px
  &__item
   display: flex
   flex-direction: column
   justify-content: flex-start
   align-items: flex-start
  &__title
   font-size: 2rem
   line-height: 2.7rem
   padding-bottom: 30px
   margin-bottom: auto
  &__slider
   position: relative
   border-radius 4px
   overflow hidden
   width: 100%
   height: 313px
   &__inner, &__item, .owl-stage, .owl-stage-outer, .owl-item
    height: 100%
   &__dots
    position: absolute
    width: 100%
    bottom: 18px
    display: flex
    justify-content: center
    align-items: center
    button
     position: relative
     z-index: 5
     width: 5px
     height: 5px
     background: #fff
     margin-right: 5px
     border-radius 50%
     &:last-child
      margin-right: 0
     &.active
      background: _yellow
   &__controls
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    display: flex
    justify-content space-between
   &__control
    width: 36px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background: rgba(_grey, .5)
    cursor: pointer
    position: relative
    z-index: 5
    &:nth-child(1)
     &:hover
      svg
       transform translateX(-5px)
    &:nth-child(2)
     &:hover
      svg
       transform translateX(5px)
    tr()
    &:hover
     background: _grey
    svg
     width: 9px
     height: 14px
     tr()
 +bp(m)
  &__list
   &__slider
    height: 250px
 +bp(s)
  padding-top: 50px
  &__list
   grid-template-columns 100%
 +bp(500px)
  &__list
   &__title
    font-size: 1.5rem
    padding-bottom: 15px
    line-height: 2rem
   &__slider
    height: 220px