.home-service
 padding-top: 84px
 &__title
  tt()
  margin-bottom: 20px
 &__sub
  font-size: 2.4rem
  line-height: 3.2rem
  max-width 808px
  margin-bottom: 42px
 &__cons
  background: url(../images/home-services-bg.png) no-repeat center
  background-size cover
  box-sizing border-box
  padding 52px 86px 52px 59px
  display: flex
  justify-content: flex-start
  align-items: flex-end
  border-radius 4px
  overflow hidden
  margin-bottom: 30px
  *
   color: #fff
  &__title
   font-size: 2.4rem
   font-weight: 700
   padding-bottom: 27px
  &__list
   margin-bottom: 22px
   &__item
    font-size: 1.8rem
    margin-bottom: 14px
    &:last-child
     margin-bottom: 0
  &__note
   color: rgba(#fff, .5)
   max-width 372px
   font-size: 1.4rem
   line-height: 2.2rem
  &__button
   margin-left: auto
   btn()
   width: 370px
   span
    font-size: 1.4rem
 &__list
  display: flex
  justify-content: space-between
  align-items: center
  &__item
   height: 247px
   width: calc(100% / 3 - 20px)
   border-radius 4px
   overflow hidden
   img
    width: 100%
    height: 100%
 +bp(m)
  &__cons
   flex-wrap wrap
   &__content
    width: 100%
    margin-bottom: 20px
   &__button
    margin-left: 0
 +bp(s)
  padding-top: 50px
  &__cons
   padding 20px
  &__sub
   font-size: 1.8rem
   line-height: 2.4rem
   margin-bottom: 20px
  &__list
   &__item
    height: 180px
 +bp(500px)
  &__list
   display: none
  &__cons
   &__button
    width: 100%
    height: 50px
    span
     font-size: 1.1rem