.catalog-content
 padding-top: 92px
 padding-bottom: 93px
 &__top
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap wrap
 &__title
  tt()
 &__brands
  display: block
  justify-content: flex-start
  align-items: flex-start
  margin-left: 40px
  &__item
   margin-right: 10px
   background: #fff
   border-radius 3px
   width: 170px
   height: 58px
   &:last-child
    margin-right: 0
 &__cats
  display: flex
  justify-content: flex-start
  align-items: flex-start
  margin-top: 26px
  overflow auto
  &__item
   flex-shrink 0
   font-size: 1.7rem
   font-weight: 700
   line-height: 2.3rem
   display: flex
   justify-content: center
   align-items: center
   padding 6px 29px
   border-top: 1px solid #BABABA
   border-bottom 1px solid #BABABA
   border-right 1px solid #BABABA
   &.active
    background: #F9CB48
    border-color #F9CB48!important
   &:last-child
    border-radius 0 3px 3px 0
   &:first-child
    border-left: 1px solid #BABABA
    border-radius 3px 0 0 3px
 &__list
  margin-top: 49px
  &__item
   display: flex
   flex-direction: column
   justify-content: flex-start
   align-items: flex-start
  &__tab
   grid-template-columns repeat(4, calc(25% - 22.5px))
   grid-column-gap 30px
   grid-row-gap 54px
   display: none
   &.active
    display: grid
  &__image
   width: 100%
   height: 270px
   margin-bottom: 12px
   img
    width: 100%
    height: 100%
  &__title
   font-size: 2.5rem
   font-weight: 700
   line-height: 3.4rem
   margin-bottom: 9px
   width: 100%
   overflow-wrap break-word
  &__price
   margin-bottom: 20px
   margin-top: auto
   .new
    color: #F94863
    font-size: 1.8rem
    font-weight: 700
    padding-right: 9px
   .old
    position: relative
    font-size: 1.8rem
    color: rgba(#444444, .4)
    &:before
     content ''
     height: 1px
     width: 100%
     position: absolute
     right: 0
     top: calc(50% - 1px)
     background: rgba(#444444, .4)
  &__button
   btn()
   width: 100%
   max-width 200px
   height: 53px
   span
    font-size: 1rem
    text-transform: uppercase
 +bp(1300px)
  &__list
   &__image
    height: 220px
 +bp(m)
  &__brands
   margin-left: 15px
   &__item
    width: calc(170px*.5)
    height: calc(58px*.5)
  &__list
   &__image
    height: 180px
   &__title
    font-size: 2rem
    line-height: 2.5rem
 +bp(s)
  padding-top: 50px
  padding-bottom: 50px
  &__list
   &__tab
    grid-template-columns repeat(3, calc(33.333% - 20px))
 +bp(600px)
  &__list
   &__tab
    grid-template-columns repeat(2, calc(50% - 15px))
 +bp(400px)
  &__list
   &__tab
    grid-template-columns 100%!important