.catalog-header
 min-height 100vh
 background: url(../images/catalog-header-bg.png) no-repeat center
 background-size cover
 .container
  display: flex
  flex-direction: column
 *
  color: #fff
 &__title
  margin-top: 17%
  ttl1()
  margin-bottom: 52px
 &__brands
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-wrap wrap
  margin-bottom: 70px
  &__item
   margin-right: 10px
   width: 170px
   height: 58px
   background: #fff
   border-radius 3px
   overflow hidden
   &:last-child
    margin-right: 0
 &__bottom
  display: flex
  justify-content: flex-start
  align-items: center
  margin-bottom: 104px
 &__button
  btn()
  width: 315px
  height: 83px
  font-size: 1.6rem
 &__note
  font-size: 1.9rem
  line-height: 2.6rem
  margin-left: 45px
 &__list
  display: flex
  justify-content: flex-start
  align-items: flex-start
  padding-bottom: 89px
  &__item
   margin-right: 62px
   display: flex
   justify-content: flex-start
   align-items: flex-start
   &:last-child
    margin-right: 0
  &__icon
   width: 34px
   height: 34px
   background: #F9CB48
   border-radius 50%
   margin-right: 15px
   display: flex
   justify-content: center
   align-items: center
   svg
    width: 70%
  &__text
   font-size: 1.9rem
   line-height: 2.6rem
 +bp(1300px)
  &__title
   br
    display: none
  &__list
   flex-wrap wrap
   &__item
    width: 50%
    margin-right: 0
    margin-bottom: 15px
 +bp(s)
  min-height 550px
  &__title
   margin-top: 0
  .container
   padding-top: 70px
  &__bottom
   flex-wrap wrap
   margin-bottom: 30px
  &__note
   margin-left: 0
   margin-top: 20px
  &__brands
   flex-wrap wrap
   margin-bottom: 0
   &__item
    margin-bottom: 15px
  &__list
   padding-bottom: 50px
 +bp(500px)
  &__title
   margin-bottom: 20px
  &__sub
   font-size: 2.2rem
   line-height: 2.7rem
  &__note
   font-size: 1.5rem
   line-height: 2rem
   br
    display: none
  &__list
   &__icon
    flex-shrink 0
    margin-right: 10px
   &__item
    width: 100%
   &__text
    font-size: 1.5rem
    line-height: 2rem
    br
     display: none
  &__button
   width: 100%
   height: 50px
   span
    font-size: 1.1rem