.catalog-order
 background: url(../images/catalog-header-bg.png) no-repeat center
 background-size cover
 padding-top: 140px
 padding-bottom: 140px
 *
  color: #fff
 &__title
  tt()
  color: #fff
  margin-bottom: 35px
 &__content
  display: flex
  justify-content: flex-start
 &__separator
  width: 1px
  background: rgba(#fff, .2)
  margin-left: auto
  margin-right: auto
 &__list
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  align-self center
  &__item
   margin-bottom: 52px
   display: flex
   justify-content: flex-start
   align-items: flex-start
   &:last-child
    margin-bottom: 0
  &__icon
   width: 34px
   height: 34px
   margin-right: 15px
   flex-shrink 0
  &__text
   font-size: 1.9rem
   line-height: 2.6rem
 &__form
  width: 100%
  max-width 547px
  &__label
   margin-bottom: 15px
   font-size: 1.9rem
   line-height: 2.6rem
  &__textarea
   margin-bottom: 19px
   textarea
    width: 100%
    height: 108px
    box-sizing border-box
    text-indent 20px
    padding-top: 17px
    resize: none
    background: #fff
    border-radius 4px
    color: #000
  &__group
   display: flex
   justify-content: flex-start
   align-items: center
   margin-bottom: 12px
   .wpcf7-not-valid-tip
    display: none!important
   &:last-child
    margin-bottom: 0
   span
    width calc(50% - 15px)
    &:first-child
     margin-right: auto
   input
    width: 100%
    background: #fff
    border-radius 4px
    text-indent 20px
    height: 45px
    color: #000
    &.wpcf7-not-valid
     border 1px solid rgba(red, .3)
  &__fields
   margin-bottom: 43px
  &__bottom
   display: flex
   justify-content: flex-start
   align-items: center
  &__contacts
   margin-left: 30px
   display: flex
   flex-direction: column
   justify-content: flex-start
   align-items: flex-start
  &__phone
   font-size: 1.9rem
   line-height: 2.6rem
   tr()
   &:hover
    color: #F9CB48
  &__email
   font-size: 1.9rem
   line-height: 2.6rem
   color: #F9CB48
   text-decoration: underline
   tr()
   &:hover
    color: #fff
  &__button
   btn()
   width: 315px
   height: 83px
 +bp(m)
  padding-top: 50px
  padding-bottom: 50px
  &__content
   flex-wrap wrap
  &__separator
   display: none
  &__form
   width: 100%
   margin-bottom: 30px
  &__list
   flex-direction row
   flex-wrap wrap
   &__item
    width: 50%
    margin-bottom: 20px
 +bp(580px)
  &__form
   &__fields
    margin-bottom: 30px
   &__bottom
    flex-wrap wrap
   &__contacts
    width: 100%
    margin-left: 0
    margin-top: 20px
 +bp(500px)
  &__list
   &__item
    width: 100%
   &__text
    font-size: 1.5rem
    line-height: 2rem
    br
     display: none
  &__form
   &__button
    width: 100%
    height: 50px
    span
     font-size: 1.1rem
   &__group
    flex-wrap wrap
    span
     width: 100%
     margin-bottom: 12px
     &:last-child
      margin-bottom: 0