.category-catalog
 padding-top: 91px
 &__title
  tt()
  margin-bottom: 47px
 &__list
  display: grid
  grid-template-columns repeat(2, 1fr)
  grid-column-gap 30px
  grid-row-gap 30px
  &__item
   border-radius 4px
   overflow hidden
   height: 321px
   position: relative
  &__image
   width: 100%
   height: 100%
  &__bottom
   display: flex
   justify-content: flex-start
   align-items: center
   position: absolute
   bottom: 24px
   left: 39px
   right: 39px
  &__title
   font-size: 2rem
   font-weight: 700
   line-height: 2.7rem
   color: #fff
  &__button
   background: _yellow
   font-size: 1.3rem
   display: flex
   justify-content: center
   align-items: center
   color: _grey
   width: 110px
   height: 28px
   border-radius 26px
   margin-left: auto
   &:hover
    svg
     transform translateX(5px)
   svg
    tr()
    width: 10px
    height: 7px
    margin-left: 5px
 +bp(m)
  &__list
   &__item
    height: 250px
   &__bottom
    left: 15px
    right: 15px
    bottom: 15px
   &__title
    font-size: 1.5rem
    line-height: 2rem
    font-weight: 500
 +bp(s)
  padding-top: 50px
  &__title
   margin-bottom: 30px
  &__list
   &__bottom
    flex-wrap wrap
   &__title
    width: 100%
    margin-bottom: 15px
   &__button
    margin-left: 0
 +bp(500px)
  &__list
   grid-template-columns 1fr
   grid-row-gap 15px