.category-related
 padding-top: 92px
 padding-bottom: 110px
 &__title
  tt()
  margin-bottom: 47px
 &__list
  display: grid
  grid-template-columns repeat(3, 1fr)
  grid-column-gap 30px
  grid-row-gap 30px
  &__item
   height: 321px
   position: relative
  &__image
   width: 100%
   height: 100%
  &__desc
   position: absolute
   left: 39px
   right: 39px
   bottom: 38px
   z-index: 3
   font-size: 2rem
   font-weight: 700
   color: #fff
 +bp(m)
  &__list
   &__item
    height: 250px
   &__desc
    left: 15px
    right: 15px
    bottom: 15px
    font-size: 1.5rem
    line-height: 2rem
    font-weight: 500
 +bp(s)
  padding-top: 50px
  padding-bottom: 50px
  &__title
   margin-bottom: 30px
  &__list
   grid-template-columns repeat(2, 1fr)
 +bp(500px)
  &__list
   grid-template-columns 1fr
   grid-row-gap 15px