<section class="contacts">
  <div class="container">
    <div class="contacts__title">
      Контакты
    </div>
    <div class="contacts__inner">
      <div class="contacts__content">
        <div class="contacts__list">
          <div class="contacts__list__item">
            <div class="contacts__list__title">Пенза</div>
            <div class="contacts__list__desc">
              г. Пенза, ул. Измайлова, 17а
            </div>
            <div class="contacts__list__phone">
              +7 (8412) 22-12-00
            </div>
            <a href="" class="contacts__list__link">re-montag@mail.ru</a>
          </div>
          <div class="contacts__list__item">
            <div class="contacts__list__title">Заречный</div>
            <div class="contacts__list__desc">
              Пензенская область, г. Заречный,<br />
              пр. 30-летия Победы, д. 38
            </div>
          </div>
          <div class="contacts__list__item">
            <div class="contacts__list__title">Контакты директора:</div>
            <div class="contacts__list__phone">
              +7 (8412) 71-19-00
            </div>
            <a href="" class="contacts__list__link">director@re-montag.ru</a>
          </div>
        </div>
        <div class="contacts__socials">
          <a href="" class="contacts__socials__item contacts__socials__item-inst">
            <svg>
              <use xlink:href="#icon-inst"></use>
            </svg>
          </a>
          <a href="" class="contacts__socials__item contacts__socials__item-you">
            <svg>
              <use xlink:href="#icon-you"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="contacts__map" id="map"></div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <a href="" class="footer__logo">
      <svg>
        <use xlink:href="#logo"></use>
      </svg>
    </a>
    <div class="footer__links">
      <a href="" class="footer__links__item">Ремонт и строительство</a>
      <a href="" class="footer__links__item">Напольные покрытия</a>
      <a href="" class="footer__links__item">Кондиционеры</a>
    </div>
    <a href="" class="footer__copyright">
      <svg>
        <use xlink:href="#marketing"></use>
      </svg>
      Сделано в&nbsp;<span>Маркетинга на 100</span>
    </a>
  </div>
</footer>
<div class="modal modal-typical">
  <div class="modal__fade"></div>
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__close"></div>
      <div class="modal__title">Рассчитать стоимость</div>
      <form action="">
        <div class="modal__form">
          <div class="modal__form__group">
            <input type="text" class="modal__form__input" name="form_name" placeholder="Имя">
            <input type="text" class="modal__form__input" name="form_phone" placeholder="Контактный телефон">
            <input type="hidden" name="form_title">
            <input type="hidden" name="form_target">
          </div>
          <div class="modal__form__buttons">
            <button class="modal__form__button"><span>Отправить заявку</span></button>
            <input type="hidden" name="form_from" value="Запросите смету">
            <input type="hidden" name="target" value="smeta">
            <div class="modal__form__contacts">
              <a href="" class="modal__form__phone">+7 (8412) 22-12-00</a>
              <a href="" class="modal__form__email">director@re-montag.ru</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="thanks" class="modal modal-thanks">
  <div class="modal__fade"></div>
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__bg"></div>
      <div class="modal__close"></div>
      <div class="modal__title">Спасибо!</div>
      <div class="modal__sub">
        Ваша заявка успешно отправлена. Мы свяжемся
        с вами в ближайшее время.
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div class="menu__close"></div>
  <div class="menu__open">
    <div class="menu__open__bar"></div>
    <div class="menu__open__bar"></div>
    <div class="menu__open__bar"></div>
  </div>
  <div class="menu__inner">
    <div class="menu__list">
      <a href="" data-target="header" class="menu__list__item scrollTo">Главная</a>
      <a href="" data-target="repair" class="menu__list__item scrollTo">Ремонт</a>
      <a href="" data-target="gallery" class="menu__list__item scrollTo">Проекты</a>
      <a href="" data-target="construction" class="menu__list__item scrollTo">Строительство</a>
      <a href="" data-target="contacts" class="menu__list__item scrollTo">Контакты</a>
    </div>
    <div class="menu__contacts">
      <a class="menu__contacts__button toModal" data-modal-id="smeta">Запросить смету</a>
      <a href="tel: +7 (8412) 71-19-00" class="menu__contacts__phone">+7 (8412) 71-19-00</a>
      <a href="mailto: director@re-montag.ru" class="menu__contacts__email">director@re-montag.ru</a>
    </div>
  </div>
</div>
</body>
</html>