
*
 text-rendering optimizeLegibility
 -webkit-font-smoothing antialiased
 -moz-osx-font-smoothing grayscale
 outline none!important
 -webkit-tap-highlight-color: transparent !important

html,body
 scrollbar-width none /* Firefox */
 -ms-overflow-style none /* IE 10+ */
 ::-webkit-scrollbar
  display none /* WebKit */
  width 0px /* WebKit */
 scroll-behavior smooth
 font-family 'Uni'
 font-size: 10px
 font-weight: 400
 height 100%
 width 100%
 color: _grey
.container
 width: 100%
 max-width 1170px
 margin 0 auto
 height: 100%
 position: relative
 +bp(1300px)
  max-width 970px
 +bp(m)
  max-width none
  padding 0 15px
  box-sizing border-box

img
 height 100%
 width 100%
 object-fit cover

button, input, textarea
 font-family inherit
 margin 0
 padding 0
 border 0
 background transparent

span
 color inherit
svg
 width: 100%
 height: 100%
a
 color inherit
 text-decoration none
.wpcf7-response-output
 display: none !important