.contacts
 padding-top: 70px
 padding-bottom: 115px
 &__title
  tt()
  margin-bottom: 66px
 &__map
  width: 770px
  background: url(../images/map-temp.png) no-repeat center
  background-size cover
  flex-shrink 0
 &__content
  padding-right: 25px
  margin-right: auto
 &__inner
  display: flex
  justify-content: flex-start
  align-items: stretch
 &__list
  margin-bottom: 40px
  &__item
   margin-bottom: 39px
   &>*
    last-child
     margin-bottom: 0
   &:last-child
    margin-bottom: 0
  &__title
   font-size: 2.5rem
   font-weight: 700
   margin-bottom: 10px
  &__desc
   font-size: 1.8rem
   line-height: 2.4rem
   margin-bottom: 10px
  &__phone
   font-size: 1.8rem
   line-height: 2.4rem
   margin-bottom: 10px
   tr()
   &:hover
    color: _yellow
  &__link
   color: #DBAF33
   font-size: 1.8rem
   line-height: 2.4rem
   margin-bottom: 10px
   text-decoration: underline
   tr()
   &:hover
    color: _grey
 &__socials
  display: flex
  justify-content: flex-start
  align-items: center
  &__item
   margin-right: 17px
   &:last-child
    margin-right: 0
   &-inst
    width: 30px
    height: 30px
   &-you
    width: 36px
    height: 25px
 +bp(m)
  &__map
   width: 500px
 +bp(s)
  padding-top: 50px
  padding-bottom: 50px
  &__inner
   flex-wrap wrap
  &__content
   padding-right: 0
   width: 100%
   margin-bottom: 20px
  &__map
   height: 350px
   width: 100%
 +bp(500px)
  &__title
   margin-bottom: 20px
  &__list
   &__title
    font-size: 2rem
   &__desc
    font-size: 1.5rem
    line-height: 2rem
   &__phone
    font-size: 1.5rem
    line-height: 2rem
   &__item
    margin-bottom: 20px