@font-face
 font-family: 'Uni'
 src: url('../fonts/UniNeueRegular.woff2') format('woff2'), url('../fonts/UniNeueRegular.woff') format('woff')
 font-weight: 400
 font-style: normal
@font-face
 font-family: 'Uni'
 src: url('../fonts/UniNeueHeavy.woff2') format('woff2'), url('../fonts/UniNeueHeavy.woff') format('woff')
 font-weight: 900
 font-style: normal
@font-face
 font-family: 'Uni'
 src: url('../fonts/UniNeueBold.woff2') format('woff2'), url('../fonts/UniNeueBold.woff') format('woff')
 font-weight: 700
 font-style: normal