.footer
 background: #232529
 padding 28px 0
 .container
  display: flex
  align-items: center
 &__logo
  width: 258px
  height: 38px
  margin-right: 40px
 &__links
  display: grid
  grid-template-columns 1fr 1fr
  grid-column-gap 15px
  grid-row-gap 10px
  &__item
   color: #F9CB48
   text-decoration: underline
   font-size: 1.5rem
   tr()
   &:hover
    color: #fff
   &:last-child
    margin-bottom: 0
 &__copyright
  display: none
  margin-left: auto
  justify-content: flex-start
  align-items: center
  font-size: 1.5rem
  color: #818181
  &:hover
   span
    color: _yellow
  span
   color: #fff
   tr()
  svg
   width: 24px
   height: 40px
   margin-right: 11px
 +bp(s)
  padding 15px 0
  &__logo
   margin-right: 15px
   width: 258px*.5
   height: 38px*.5