body
 padding-left: 117px
 box-sizing border-box
 +bp(l)
  padding-left: 0
.menu
 position: fixed
 background: #232529
 top: 0
 height: 100vh
 left: 0
 width: 100%
 max-width 117px
 z-index: 5
 overflow hidden
 tr()
 *
  color: #fff
 &.active
  max-width 494px
  width: 100% !important
  height: 100vh !important
  .menu__inner
   opacity: 1
  .menu__close
   display: block
  .menu__open
   display: none
 &__inner
  width: 100%
  height: 100%
  padding 200px 90px 100px
  display: flex
  box-sizing border-box
  flex-direction column
  opacity: 0
  tr()
 &__open
  width: 38px
  height: 32px
  display: flex
  justify-content: space-between
  flex-direction: column
  position: absolute
  top: 55px
  left: 42px
  cursor: pointer
  z-index: 5
  &__bar
   height: 4px
   width: 100%
   background: _yellow
   border-radius 5px
 &__close
  width: 34px
  height: 34px
  position: absolute
  top: 55px
  left: 42px
  cursor: pointer
  transform rotate(45deg)
  display: none
  &:before, &:after
   content ''
   background: _yellow
   position: absolute
   border-radius 5px
  &:before
   width: 4px
   height: 100%
   top: 0
   left: 15px
  &:after
   width: 100%
   height: 4px
   left: 0
   top: 15px
 &__list
  display: flex
  flex-direction column
  align-items: flex-start
  &__item
   font-size: 3.5rem
   font-weight: 700
   margin-bottom: 35px
   color: #fff
   opacity: 0.6
   tr()
   &:hover
    opacity: 1
   &:last-child
    margin-bottom: 0
 &__contacts
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-top: auto
  &__phone
   font-weight: 700
   font-size: 2.5rem
   line-height: 3.4rem
   margin-bottom: 7px
   tr()
   &:hover
    color: _yellow
  &__email
   font-size: 1.3rem
   color: _yellow
   tr()
   &:hover
    color: #fff
  &__button
   font-size: 1.3rem
   width: 142px
   height: 42px
   box-sizing border-box
   border 1px solid _yellow
   border-radius 26px
   display: flex
   justify-content: center
   align-items: center
   margin-bottom: 35px
   tr()
   &:hover
    background: _yellow
    color: _grey
 +bp(l)
  height: 40px
  width: 40px
  top: 30%
  &.active
   top: 0
  &__open, &__close
   top 5px
   left: 2px
   transform scale(0.6)
  &__close
   transform rotate(45deg) scale(0.6)
 +bp(400px)
  &__inner
   padding 100px 20px 30px
   overflow auto
  &__list
   &__item
    font-size: 2rem
    margin-bottom: 25px