_yellow = #F9CB48
_grey = #444444
tr()
  transition all .5s ease-in-out
btn()
 width: 315px
 height: 83px
 display: flex
 justify-content: center
 align-items: center
 box-sizing border-box
 border 1px solid #EFA845
 position: relative
 border-radius 73px
 &:hover
  &:before
   bottom: -9px
 span
  position: relative
  z-index: 1
  color: #524328
  font-weight: 900
  font-size: 1.6rem
  letter-spacing 0.06em
  text-transform: uppercase
  text-shadow: 0 1px 1px rgba(#fff, .71)
 &:after
  content ''
  width: 100%
  height: 100%
  border-radius 73px
  background: rgba(248, 212, 83, 1.0);
  background: linear-gradient(to top, rgba(248, 212, 83, 1.0), rgba(255, 221, 113, 1.0));
  position: absolute
  top: 0
  left: 0
 &:before
  content ''
  width: 100%
  height: 100%
  border-radius 73px
  background: #A56A0D
  position: absolute
  bottom: -4px
  left: 0
  tr()
line($fz, $lh)
 font-size: unit($fz, rem)
 line-height unit($lh / $fz, '')

objf()
  object-fit cover
ttl1()
 font-size: 8rem
 font-weight: 700
 line-height: 10.8rem
 span
  color: _yellow
 +bp(m)
  font-size: 5rem
  line-height: 6rem
 +bp(500px)
  font-size: 3.5rem
  line-height: 4.2rem
tt()
 font-size: 5.5rem
 font-weight: 700
 color: _grey
 +bp(m)
  font-size: 4rem
  line-height: 4.5rem
 +bp(500px)
  font-size: 3rem
  line-height: 3.5rem
bp($point)
 $bp-s = "(max-width 767px)"
 $bp-m = "(max-width 970px)"
 $bp-l = "(max-width 1200px)"
 $bp-xl = "(max-width 1400px)"
 if $point == xl
  @media $bp-xl
   {block}
 else if $point == l
  @media $bp-l
   {block}
 else if $point == m
  @media $bp-m
   {block}
 else if $point == s
  @media $bp-s
   {block}
 else
  @media (max-width $point)
   {block}