.modal
 position: fixed
 top: 0
 left: 0
 width: 100%
 height: 100%
 z-index: 6
 &-typical
  display: none
 &-thanks
  display: none
  *
   color: #fff
  .modal__content
   background: #97BF2B
   height: 400px
   display: flex
   flex-direction: column
   justify-content: center
  .modal__bg
   width: 327px
   height: 327px
   background: url(../images/thanks-bg.png) no-repeat center
   left: 71px
   position: absolute
  .modal__close
   &:before, &:after
    background: #fff
  .modal__title
   font-size: 8rem
   font-weight: 700
   margin-bottom: 19px
   line-height: 8rem
  .modal__title, .modal__sub
   position: relative
   z-index: 1
 &__fade
  position: absolute
  width: 100%
  height: 100%
  background: rgba(#444, .9)
 &__inner
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  box-sizing border-box
 &__content
  position: relative
  background: #fff
  border-radius 10px
  width: 100%
  max-width 764px
  box-sizing border-box
  padding 54px 98px 70px
  &:before
   content ''
   width: 90%
   height: 90%
   bottom: 0px
   position: absolute
   border-radius 10px
   z-index: -1
   left: 5%
   background: #fff
   box-shadow 0 3px 25px rgba(#000, .1)
 &__close
  width: 12px
  height: 12px
  position: absolute
  top: 30px
  right: 30px
  transform rotate(45deg)
  cursor: pointer
  &:before, &:after
   content ''
   background: _grey
   position: absolute
  &:before
   width: 2px
   height: 100%
   top: 0
   left: 5px
  &:after
   width: 100%
   height: 2px
   left: 0
   top: 5px
 &__title
  font-weight: 700
  font-size: 3.5rem
  line-height: 4rem
  margin-bottom: 37px
 &__sub
  font-size: 2.4rem
  line-height: 3.2rem
 &__form
  &__group
   display: flex
   justify-content: space-between
   align-items: center
   margin-bottom: 12px
   .wpcf7-not-valid-tip
    display: none!important
   span
    width: calc(50% - 12px)
   &:last-child
    margin-bottom: 0
  &__input
   color: _grey
   height: 45px
   width: 100%
   border-radius 4px
   font-size: 1.3rem
   padding-left: 21px
   box-sizing border-box
   border 1px solid #E8E8E8
   &.wpcf7-not-valid
    border 1px solid rgba(red, .3)
   tr()
   &:focus
    border-color _yellow
  &__buttons
   margin-top: 46px
   display: flex
   justify-content: flex-start
   align-items: center
  &__button
   btn()
   cursor: pointer
  &__contacts
   display: flex
   flex-direction: column
   align-items: flex-start
   margin-left: 33px
  &__phone, &__email
   font-size: 1.9rem
   line-height: 2.6rem
   tr()
  &__phone
   &:hover
    color: _yellow
  &__email
   color: _yellow
   &:hover
    color: _grey
 +bp(s)
  &__content
   padding 20px
  &__title
   padding-right: 30px
 +bp(550px)
  &-thanks
   .modal__title
    font-size: 4rem
    line-height: 5rem
  &__form
   &__contacts
    display: none
 +bp(430px)
  &__form
   &__group
    flex-wrap: wrap
    span
     width: 100%
     &:nth-child(1)
      margin-bottom: 12px
   &__input
    width: 100%
    &:nth-child(1)
     margin-bottom: 12px