.nav
 margin-bottom: -107px
 position: relative
 z-index: 1
 padding-top: 53px
 .container
  display: flex
  align-items: center
 &__logo
  width: 258px
  height: 38px
  margin-right: 51px
 &__tagline
  font-size: 1.5rem
  line-height: 2.1rem
  color: #fff
 &__contacts
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-end
  margin-left: auto
  &__phone
   font-size: 2.5rem
   font-weight: 700
   margin-bottom: 2px
   line-height: 3.4rem
   color: #fff
   tr()
   &:hover
    color: _yellow
  &__email
   color: _yellow
   font-size: 1.3rem
   line-height: 1.8rem
   text-decoration: underline
   tr()
   &:hover
    color: #fff
 +bp(s)
  padding-top: 15px
  margin-bottom: -59px
  &__logo
   margin-right: 15px
   width: 258px*.5
   height: 38px*.5
  &__tagline
   font-size: 1.3rem
   line-height: 1.8rem
  &__contacts
   &__phone
    font-size: 1.8rem
    line-height: 2.4rem
 +bp(454px)
  &__tagline
   display: none
  &__logo
   margin-right: 0