${require('./partials/header.html')}
<header class="catalog-header">
  <div class="container">
    <h1 class="catalog-header__title">
      Распродажа пробкового пола<br />
      от производителей <span>со склада<br />
      в Пензе</span>
    </h1>
    <div class="catalog-header__brands">
      <div class="catalog-header__brands__item">
        <img src="images/catalog-product.png" alt="">
      </div>
    </div>
    <div class="catalog-header__bottom">
      <a href="" class="catalog-header__button toModal" data-modal="modal-typical" data-modal-title="test">
        <span>Рассчитать стоимость</span>
      </a>
      <div class="catalog-header__note">
        Оставьте заявку на сайте и сравните наши цены<br />
        с ценами в магазинах. Убедитесь лично в более низкой<br />
        стоимости за тот же пробковый пол.
      </div>
    </div>
    <div class="catalog-header__list">
      <div class="catalog-header__list__item">
        <div class="catalog-header__list__icon">
          <svg>
              <use xlink:href="#funds"></use>
          </svg>
        </div>
        <div class="catalog-header__list__text">
          Цена на 25-30%<br />
          ниже чем в магазинах<br />
          стройматериалов<br />
          по городу
        </div>
      </div>
      <div class="catalog-header__list__item">
        <div class="catalog-header__list__icon">
          <svg>
              <use xlink:href="#verification-of-delivery-list-clipboard-symbol"></use>
          </svg>
        </div>
        <div class="catalog-header__list__text">
          Бесплатная доставка<br />
          по Пензе и подъем<br />
          на этаж
        </div>
      </div>
      <div class="catalog-header__list__item">
        <div class="catalog-header__list__icon">
          <svg>
              <use xlink:href="#surface1"></use>
          </svg>
        </div>
        <div class="catalog-header__list__text">
          Гарантия низкой<br />
          цены
        </div>
      </div>
      <div class="catalog-header__list__item">
        <div class="catalog-header__list__icon">
          <svg>
              <use xlink:href="#wrench"></use>
          </svg>
        </div>
        <div class="catalog-header__list__text">
          Известные<br />
          производители из<br />
          Германии, России,<br />
          Бельгии
        </div>
      </div>
    </div>
  </div>
</header>
<section class="catalog-content">
  <div class="container">
    <div class="catalog-content__top">
      <div class="catalog-content__title">Каталог пробкового пола</div>
      <div class="catalog-content__brands">
        <div class="catalog-content__brands__item"><img src="images/catalog-product.png" alt=""></div>
      </div>
    </div>
    <div class="catalog-content__cats">
      <a href="" class="catalog-content__cats__item active">Tarkett</a>
      <a href="" class="catalog-content__cats__item">Unilin</a>
    </div>
    <div class="catalog-content__list">
      <div class="catalog-content__list__tab active">
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
      </div>
      <div class="catalog-content__list__tab">
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
        <div class="catalog-content__list__item">
          <div class="catalog-content__list__image">
            <img src="images/catalog-item-temp.png" alt="">
          </div>
          <div class="catalog-content__list__title">Дуб мередиан,
            доска (RF)</div>
          <div class="catalog-content__list__price">
            <span class="new">320 руб./м2</span><span class="old">405 руб./м2</span>
          </div>
          <a href="" class="catalog-content__list__button"><span>оставить заявку</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="catalog-order">
  <div class="container">
    <div class="catalog-order__title">
      Заявка на расчет стоимости<br />
      напольных материалов
    </div>
    <div class="catalog-order__content">
      <div class="catalog-order__form">
        <div class="catalog-order__form__textarea">
          <div class="catalog-order__form__label">Опишите ваше помещение и площадь:</div>
          <textarea name="" id="" cols="30" rows="10" placeholder="Например: квартира 54 м.…"></textarea>
        </div>
        <div class="catalog-order__form__fields">
          <div class="catalog-order__form__label">Контактные данные:</div>
          <div class="catalog-order__form__group">
            <input type="text" placeholder="Имя"><input type="text" placeholder="Контактный телефон">
          </div>
          <div class="catalog-order__form__group">
            <input type="text" placeholder="E-mail">
          </div>
        </div>
        <div class="catalog-order__form__bottom">
          <button class="catalog-order__form__button">
            <span>отправить заявку</span>
          </button>
          <div class="catalog-order__form__contacts">
            <a href="" class="catalog-order__form__phone">+7 (8412) 22-12-00</a>
            <a href="" class="catalog-order__form__email">director@re-montag.ru</a>
          </div>
        </div>
      </div>
      <div class="catalog-order__separator"></div>
      <div class="catalog-order__list">
        <div class="catalog-order__list__item">
          <div class="catalog-order__list__icon">
            <svg>
                <use xlink:href="#circle-check"></use>
            </svg>
          </div>
          <div class="catalog-order__list__text">
            Бесплатная доставка<br />
            по Пензе
          </div>
        </div>
        <div class="catalog-order__list__item">
          <div class="catalog-order__list__icon">
            <svg>
                <use xlink:href="#circle-check"></use>
            </svg>
          </div>
          <div class="catalog-order__list__text">
            Гарантия низкой цены<br />
            на материалы
          </div>
        </div>
        <div class="catalog-order__list__item">
          <div class="catalog-order__list__icon">
            <svg>
                <use xlink:href="#circle-check"></use>
            </svg>
          </div>
          <div class="catalog-order__list__text">
            Бесплатная разгрузка<br />
            и подъем на этаж
          </div>
        </div>
        <div class="catalog-order__list__item">
          <div class="catalog-order__list__icon">
            <svg>
                <use xlink:href="#circle-check"></use>
            </svg>
          </div>
          <div class="catalog-order__list__text">
            Дополнительная скидка на<br />
            профессиональную укладку
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contacts">
  <div class="container">
    <div class="contacts__title">
      Контакты
    </div>
    <div class="contacts__inner">
      <div class="contacts__content">
        <div class="contacts__list">
          <div class="contacts__list__item">
            <div class="contacts__list__title">Пенза</div>
            <div class="contacts__list__desc">
              г. Пенза, ул. Измайлова, 17а
            </div>
            <div class="contacts__list__phone">
              +7 (8412) 22-12-00
            </div>
            <a href="" class="contacts__list__link">re-montag@mail.ru</a>
          </div>
          <div class="contacts__list__item">
            <div class="contacts__list__title">Заречный</div>
            <div class="contacts__list__desc">
              Пензенская область, г. Заречный,<br />
              пр. 30-летия Победы, д. 38
            </div>
          </div>
          <div class="contacts__list__item">
            <div class="contacts__list__title">Контакты директора:</div>
            <div class="contacts__list__phone">
              +7 (8412) 71-19-00
            </div>
            <a href="" class="contacts__list__link">director@re-montag.ru</a>
          </div>
        </div>
        <div class="contacts__socials">
          <a href="" class="contacts__socials__item contacts__socials__item-inst">
            <svg>
              <use xlink:href="#icon-inst"></use>
            </svg>
          </a>
          <a href="" class="contacts__socials__item contacts__socials__item-you">
            <svg>
              <use xlink:href="#icon-you"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="contacts__map"></div>
    </div>
  </div>
</section>
${require('./partials/footer.html')}