${require('./partials/header.html')}
<header class="category-header">
  <div class="container">
    <h1 class="category-header__title">
      Распродажа пробкового пола<br />
      от производителей <span>со склада<br />
      в Пензе</span>
    </h1>
    <div class="category-header__tags">
      <div class="category-header__tags__item">Ламинат</div>
      <div class="category-header__tags__item">Паркет</div>
      <div class="category-header__tags__item">ПВХ-пленка</div>
      <div class="category-header__tags__item">Пробковый пол</div>
    </div>
    <div class="category-header__bottom">
      <a href="" class="category-header__button">
        <span>Рассчитать стоимость</span>
      </a>
      <div class="category-header__note">
        Оставьте заявку на сайте и сравните наши цены<br />
        с ценами в магазинах. Убедитесь лично в более низкой<br />
        стоимости за тот же пробковый пол.
      </div>
    </div>
    <div class="category-header__list">
      <div class="category-header__list__item">
        <div class="category-header__list__icon">
          <svg>
            <use xlink:href="#funds"></use>
          </svg>
        </div>
        <div class="category-header__list__text">
          Цена на 25-30%<br />
          ниже чем в магазинах<br />
          стройматериалов<br />
          по городу
        </div>
      </div>
      <div class="category-header__list__item">
        <div class="category-header__list__icon">
          <svg>
            <use xlink:href="#verification-of-delivery-list-clipboard-symbol"></use>
          </svg>
        </div>
        <div class="category-header__list__text">
          Бесплатная доставка<br />
          по Пензе и подъем<br />
          на этаж
        </div>
      </div>
      <div class="category-header__list__item">
        <div class="category-header__list__icon">
          <svg>
            <use xlink:href="#surface1"></use>
          </svg>
        </div>
        <div class="category-header__list__text">
          Гарантия низкой<br />
          цены
        </div>
      </div>
      <div class="category-header__list__item">
        <div class="category-header__list__icon">
          <svg>
            <use xlink:href="#wrench"></use>
          </svg>
        </div>
        <div class="category-header__list__text">
          Известные<br />
          производители из<br />
          Германии, России,<br />
          Бельгии
        </div>
      </div>
    </div>
  </div>
</header>
<section class="category-catalog">
  <div class="container">
    <div class="category-catalog__title">
      Каталог товаров
    </div>
    <div class="category-catalog__list">
      <div class="category-catalog__list__item">
        <div class="category-catalog__list__image">
          <img src="images/category-catalog1.png" alt="">
        </div>
        <div class="category-catalog__list__bottom">
          <div class="category-catalog__list__title">
            Ламинат
          </div>
          <a href="" class="category-catalog__list__button">
            Подробнее
            <svg>
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="category-catalog__list__item">
        <div class="category-catalog__list__image">
          <img src="images/category-catalog2.png" alt="">
        </div>
        <div class="category-catalog__list__bottom">
          <div class="category-catalog__list__title">
            Паркет
          </div>
          <a href="" class="category-catalog__list__button">
            Подробнее
            <svg>
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="category-catalog__list__item">
        <div class="category-catalog__list__image">
          <img src="images/category-catalog3.png" alt="">
        </div>
        <div class="category-catalog__list__bottom">
          <div class="category-catalog__list__title">
            Пробковый пол
          </div>
          <a href="" class="category-catalog__list__button">
            Подробнее
            <svg>
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="category-catalog__list__item">
        <div class="category-catalog__list__image">
          <img src="images/category-catalog4.png" alt="">
        </div>
        <div class="category-catalog__list__bottom">
          <div class="category-catalog__list__title">
            ПВХ-плитка
          </div>
          <a href="" class="category-catalog__list__button">
            Подробнее
            <svg>
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="category-related">
  <div class="container">
    <div class="category-related__title">Сопутствующие товары</div>
    <div class="category-related__list">
      <div class="category-related__list__item">
        <div class="category-related__list__image">
          <img src="images/category-related1.png" alt="">
        </div>
        <div class="category-related__list__desc">
          Плинтус
        </div>
      </div>
      <div class="category-related__list__item">
        <div class="category-related__list__image">
          <img src="images/category-related2.png" alt="">
        </div>
        <div class="category-related__list__desc">
          Подложка
        </div>
      </div>
      <div class="category-related__list__item">
        <div class="category-related__list__image">
          <img src="images/category-related3.png" alt="">
        </div>
        <div class="category-related__list__desc">
          Пороги
        </div>
      </div>
      <div class="category-related__list__item">
        <div class="category-related__list__image">
          <img src="images/category-related4.png" alt="">
        </div>
        <div class="category-related__list__desc">
          Защита и уход
        </div>
      </div>
      <div class="category-related__list__item">
        <div class="category-related__list__image">
          <img src="images/category-related5.png" alt="">
        </div>
        <div class="category-related__list__desc">
          Клей
        </div>
      </div>
      <div class="category-related__list__item">
        <div class="category-related__list__image">
          <img src="images/category-related6.png" alt="">
        </div>
        <div class="category-related__list__desc">
          Химия для укладки
        </div>
      </div>
    </div>
  </div>
</section>
<section class="catalog-order">
  <div class="container">
    <div class="catalog-order__title">
      Заявка на расчет стоимости<br />
      напольных материалов
    </div>
    <div class="catalog-order__content">
      <div class="catalog-order__form">
        <div class="catalog-order__form__textarea">
          <div class="catalog-order__form__label">Опишите ваше помещение и площадь:</div>
          <textarea name="" id="" cols="30" rows="10" placeholder="Например: квартира 54 м.…"></textarea>
        </div>
        <div class="catalog-order__form__fields">
          <div class="catalog-order__form__label">Контактные данные:</div>
          <div class="catalog-order__form__group">
            <input type="text" placeholder="Имя"><input type="text" placeholder="Контактный телефон">
          </div>
          <div class="catalog-order__form__group">
            <input type="text" placeholder="E-mail">
          </div>
        </div>
        <div class="catalog-order__form__bottom">
          <button class="catalog-order__form__button">
            <span>отправить заявку</span>
          </button>
          <div class="catalog-order__form__contacts">
            <a href="" class="catalog-order__form__phone">+7 (8412) 22-12-00</a>
            <a href="" class="catalog-order__form__email">director@re-montag.ru</a>
          </div>
        </div>
      </div>
      <div class="catalog-order__separator"></div>
      <div class="catalog-order__list">
        <div class="catalog-order__list__item">
          <div class="catalog-order__list__icon">
            <svg>
              <use xlink:href="#circle-check"></use>
            </svg>
          </div>
          <div class="catalog-order__list__text">
            Бесплатная доставка<br />
            по Пензе
          </div>
        </div>
        <div class="catalog-order__list__item">
          <div class="catalog-order__list__icon">
            <svg>
              <use xlink:href="#circle-check"></use>
            </svg>
          </div>
          <div class="catalog-order__list__text">
            Гарантия низкой цены<br />
            на материалы
          </div>
        </div>
        <div class="catalog-order__list__item">
          <div class="catalog-order__list__icon">
            <svg>
              <use xlink:href="#circle-check"></use>
            </svg>
          </div>
          <div class="catalog-order__list__text">
            Бесплатная разгрузка<br />
            и подъем на этаж
          </div>
        </div>
        <div class="catalog-order__list__item">
          <div class="catalog-order__list__icon">
            <svg>
              <use xlink:href="#circle-check"></use>
            </svg>
          </div>
          <div class="catalog-order__list__text">
            Дополнительная скидка на<br />
            профессиональную укладку
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
${require('./partials/footer.html')}